#rsvpContainer {
    max-width: 800px;
    width: 100%;
}

#rsvpForm textarea {
    resize: vertical;
}

#rsvpForm input[type="radio"],
#rsvpForm input[type="checkbox"],
.form-check-input {
    accent-color: var(--primary-color);
    cursor: pointer;
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.form-check-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}

.ts-dropdown {
    z-index: 2000;
}

.step-indicator {
    opacity: 0.5;
    font-weight: bold;
    border-bottom: 3px solid #dee2e6;
    flex: 1;
    text-align: center;
    transition: all 0.3s ease;
    font-size: .93rem;
}

@media (max-width: 576px) {
    .step-indicator:not(.active) {
        display: none;
    }
}

.step-indicator.active {
    opacity: 1;
    border-bottom: 3px solid var(--bs-primary);
    color: var(--bs-primary);
}

.step-content-wrapper {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#rsvpForm .custom-radio .form-check-input {
    width: 1.25em;
    height: 1.25em;
    margin-top: 0.15rem;
    margin-right: 0.15rem;
    float: none;
}

#rsvpForm .custom-radio .form-check-label {
    cursor: pointer;
    margin-bottom: 0;
}

#rsvpForm .btn-66 {
    padding: 0.6rem 1rem;
    font-weight: 500;
}
